* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1 rem equals to 10px */
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  font-size: 1.6rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: linear-gradient(to right bottom, lightgreen, lightblue);
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

ul li:not(:last-child) {
  margin-bottom: 1rem;
}
